In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Loading Players Totals table as df1

In [2]:
df1 = pd.read_csv("C:/Users/omair/Downloads/archive (5)/Player Totals.csv")

C:\Users\omair\AppData\Local\Temp\ipykernel_7760\910558346.py:1: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("C:/Users/omair/Downloads/archive (5)/Player Totals.csv")

In [3]:
df1.head()

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,DRPG,BPG,SPG,TOVPG,ftapg,ftmpg,fgmpg,fgapg,x3pg,x3apg
0,31871,2025,5025,A.J. Green,SG,25,3,NBA,MIL,73,...,2.1,0.1,0.5,0.5,0.4,0.3,2.5,5.8,2.1,5.0
1,31872,2025,5026,A.J. Lawson,SG,24,3,NBA,TOR,26,...,2.5,0.2,0.5,0.6,2.4,1.7,3.1,7.3,1.3,3.9
2,31873,2025,5210,AJ Johnson,SG,20,1,NBA,TOT,29,...,1.8,0.1,0.4,1.2,1.3,1.1,2.8,7.3,0.8,3.1
3,31874,2025,5210,AJ Johnson,SG,20,1,NBA,MIL,7,...,1.0,0.0,0.1,0.6,0.3,0.1,1.1,2.7,0.4,0.7
4,31875,2025,5210,AJ Johnson,SG,20,1,NBA,WAS,22,...,2.0,0.1,0.5,1.4,1.6,1.4,3.4,8.8,1.0,3.9

## Loading Player Career Info table as df2

In [4]:
df2 = pd.read_csv("C:/Users/omair/Downloads/archive (5)/Player Career Info.csv")
df2.head()

,player_id,player,birth_year,hof,num_seasons,first_seas,last_seas
0,1,Al Brightman,NaN,False,1,1947,1947
1,2,Al Lujack,NaN,False,1,1947,1947
2,3,Al Negratti,NaN,False,1,1947,1947
3,4,Angelo Musi,NaN,False,3,1947,1949
4,5,Ariel Maughan,1923.0,False,5,1947,1951

In [9]:
df2[df2['player'].str.contains('Luka')]

,player_id,player,birth_year,hof,num_seasons,first_seas,last_seas
4652,4653,Luka Dončić,NaN,False,7,2019,2025
4754,4755,Luka Šamanić,NaN,False,4,2020,2024
4981,4982,Luka Garza,NaN,False,4,2022,2025

### Checking to see if the names need adjusting in the df2 table

In [20]:
import re

# Example regex for mojibake-like sequences (adjust as needed)
mojibake_pattern = re.compile(r'[Ã©Ã¡Ã³Ã±Ã§]')  # characters common in mojibake

df2[df2['player'].str.contains(mojibake_pattern)]

Empty DataFrame
Columns: [player_id, player, birth_year, hof, num_seasons, first_seas, last_seas]
Index: []

# Loading All_NBA df

In [15]:
all_nba = pd.read_csv("C:/Users/omair/Downloads/archive (5)/End of Season Teams (Voting).csv", encoding='latin1')
all_nba = all_nba[all_nba['number_tm'] != 'ORV']

In [17]:
fixes = {
    '3T' : '3rd',
    '2T' : '2nd',
    '1T' : '1st'
}

all_nba['number_tm'] = all_nba['number_tm'].replace(fixes)
all_nba[all_nba['type'] == 'All-NBA']['number_tm'].value_counts()

number_tm
1st    295
2nd    295
3rd    180
Name: count, dtype: int64

### Checking to see if the names need adjusting

In [25]:
import re

# Example regex for mojibake-like sequences (adjust as needed)
mojibake_pattern = re.compile(r'[Ã©Ã¡Ã³Ã±Ã§]')  # characters common in mojibake

all_nba[all_nba['player'].str.contains(mojibake_pattern)]

,season,lg,type,number_tm,position,player,age,tm,pts_won,pts_max,share,x1st_tm,x2nd_tm,x3rd_tm,seas_id,player_id
732,2017,NBA,All-Rookie,1st,NaN,Willy HernangÃ³mez,22,NYK,128.0,200.0,0.640,44.0,40.0,NaN,26910,4460
1375,2011,NBA,All-NBA,3rd,G,Manu GinÃ³bili,33,SAS,106.0,595.0,0.178,0.0,NaN,NaN,23136,3401
1629,2009,NBA,All-Rookie,2nd,NaN,Rudy FernÃ¡ndez,23,POR,17.0,58.0,0.293,0.0,17.0,NaN,22053,3848
1684,2008,NBA,All-NBA,3rd,G,Manu GinÃ³bili,30,SAS,123.0,635.0,0.194,0.0,NaN,NaN,21344,3401
2251,2003,NBA,All-Rookie,1st,NaN,NenÃª,20,DEN,40.0,56.0,0.714,13.0,14.0,NaN,18591,3410
2252,2003,NBA,All-Rookie,2nd,NaN,Manu GinÃ³bili,25,SAS,38.0,56.0,0.679,13.0,12.0,NaN,18539,3401
2479,2001,NBA,All-Rookie,2nd,NaN,Hedo TÃ¼rkoÄlu,21,SAC,34.0,56.0,0.607,9.0,16.0,NaN,17431,3252

In [27]:
# Check rows with non-ASCII characters
mask = all_nba['player'].apply(lambda x: any(ord(char) > 127 for char in x))
weird_values = all_nba[mask]

print(weird_values['player'])

34             Nikola JokiÄ
36             Luka DonÄiÄ
122            Luka DonÄiÄ
123            Nikola JokiÄ
209            Nikola JokiÄ
210            Luka DonÄiÄ
295            Nikola JokiÄ
297            Luka DonÄiÄ
393            Luka DonÄiÄ
395            Nikola JokiÄ
494            Nikola JokiÄ
530            Luka DonÄiÄ
729            Dario Å ariÄ
732       Willy HernangÃ³mez
844     Kristaps PorziÅÄ£is
847            Nikola JokiÄ
964          Nikola MirotiÄ
971            Jusuf NurkiÄ
1211     Jonas ValanÄiÅ«nas
1375          Manu GinÃ³bili
1435        Anderson Varejão
1629         Rudy FernÃ¡ndez
1684          Manu GinÃ³bili
2046           Nenad KrstiÄ
2106        Peja StojakoviÄ
2251                   NenÃª
2252          Manu GinÃ³bili
2366          eljko Rebra?a
2367    Vladimir RadmanoviÄ
2479         Hedo TÃ¼rkoÄlu
3194             Toni KukoÄ
3259         Draen Petrovi?
Name: player, dtype: object

### Fixing the names

In [30]:
fixes = {
    "Draen Petrovi?": "Dražen Petrović",
    "Toni KukoÄ": "Toni Kukoč",
    "Peja StojakoviÄ": "Peja Stojaković",
    "Hedo TÃ¼rkoÄlu": "Hedo Türkoğlu",
    "Vladimir RadmanoviÄ": "Vladimir Radmanović",
    "eljko Rebra?a": "Željko Rebrača",
    "Manu GinÃ³bili": "Manu Ginóbili",
    "NenÃª": "Nenê",
    "Nenad KrstiÄ": "Nenad Krstić",
    "Goran Dragi?": "Goran Dragić",
    "Rudy FernÃ¡ndez": "Rudy Fernández",
    "Jonas ValanÄiÅ«nas": "Jonas Valančiūnas",
    "Bojan Bogdanovi?": "Bojan Bogdanović",
    "Jusuf NurkiÄ": "Jusuf Nurkić",
    "Nikola MirotiÄ": "Nikola Mirotić",
    "Kristaps PorziÅÄ£is": "Kristaps Porziņģis",
    "Nikola JokiÄ": "Nikola Jokić",
    "Dario Å ariÄ": "Dario Šarić",
    "Willy HernangÃ³mez": "Willy Hernangómez",
    "Bogdan Bogdanovi?": "Bogdan Bogdanović",
    "Luka DonÄiÄ": "Luka Dončić"
}

all_nba['player'] = all_nba['player'].replace(fixes)

In [32]:
all_nba.loc[all_nba['player'].str.contains("Dario"), 'player'] = "Dario Šarić"

## Loading All_star table

In [35]:
all_star = pd.read_csv("C:/Users/omair/Downloads/archive (5)/All-Star Selections.csv", encoding='latin1')
all_star[all_star['player'].str.contains('\?')]

                 player          team   lg  season  replaced
17          Luka Don?i?          West  NBA    2024     False
23         Nikola Joki?          West  NBA    2024     False
41          Luka Don?i?        LeBron  NBA    2023     False
50         Nikola Joki?        LeBron  NBA    2023     False
72          Luka Don?i?   Team LeBron  NBA    2022     False
76         Nikola Joki?   Team LeBron  NBA    2022     False
93     Nikola Vu?evi?\t   Team Durant  NBA    2021     False
98          Luka Don?i?   Team LeBron  NBA    2021     False
102        Nikola Joki?   Team LeBron  NBA    2021     False
121         Luka Don?i?   Team LeBron  NBA    2020     False
124        Nikola Joki?   Team LeBron  NBA    2020     False
137        Nikola Joki?  Team Giannis  NBA    2019     False
143    Nikola Vu?evi?\t  Team Giannis  NBA    2019     False
163      Goran Dragi?\t   Team LeBron  NBA    2018     False
171  Kristaps Porzi??is   Team LeBron  NBA    2018      True
547     Peja Stojakovi?          West  NBA    2004     False
571     Peja Stojakovi?          West  NBA    2003     False
596     Peja Stojakovi?          West  NBA    2002     False

### Fixing the Names

In [38]:
fixes = {
    "Peja Stojakovi?": "Peja Stojaković",
    "Goran Dragi?\t": "Goran Dragić",
    "Kristaps Porzi??is": "Kristaps Porziņģis",
    "Nikola Joki?": "Nikola Jokić",
    "Luka Don?i?": "Luka Dončić",
    "Nikola Vu?evi?\t" : "Nikola Vučević"
}

all_star['player'] = all_star['player'].replace(fixes)
all_star[all_star['player'].str.contains('\?')]

Empty DataFrame
Columns: [player, team, lg, season, replaced]
Index: []

## Loading Player_awards table

In [41]:
player_awards = pd.read_csv("C:/Users/omair/Downloads/archive (5)/Player Award Shares.csv")
player_awards = player_awards[player_awards['winner'] == True]
player_awards.head()
player_awards = player_awards[player_awards['award'].isin(['nba mvp', 'nba roy', 'dpoy', 'smoy', 'mip'])]

# Player_awards table data cleaning

## Checking to see if there are mismatches in player id between player_awards df and df1

In [43]:
compare1 = pd.merge(
    df1[['player_id', 'player']], 
    player_awards[['player_id', 'player']], 
    on='player_id', 
    suffixes=('_df1', '_awards')
)
compare1[compare1['player_df1'] != compare1['player_awards']].drop_duplicates()

      player_id           player_df1      player_awards
342        4859        Lamar Stevens        LaMelo Ball
357        3462         LeBron James    Leandro Barbosa
951        4632    Jaron Blossomgame  Jaren Jackson Jr.
952        4654    Marcus Derrickson        Luka Dončić
953        3969     Quincy Pondexter        Paul George
990        4379        Brice Johnson     Brandon Ingram
1023       4417      Jonathan Gibson        Joel Embiid
1025       4424      Malcolm Delaney    Malcolm Brogdon
1063       3463      Leandro Barbosa       LeBron James
1216       4437      Patricio Garino      Pascal Siakam
1431       4154          Chris Smith        CJ McCollum
1570       3360  Vladimir Radmanović     Tyson Chandler
2124       3342     Predrag Drobnjak          Pau Gasol
2394       3363         Óscar Torres      Zach Randolph

In [45]:
ids = player_awards['player_id'].unique()
for val in ids:
    name_awards = player_awards[player_awards['player_id'] == val]['player'].iloc[0]
    name_df1 = df1[df1['player_id'] == val]['player'].iloc[0]

    if name_awards:
        df1_id = df1[df1['player'] == name_awards]['player_id'].iloc[0]

        if df1_id:
            
            if val != df1_id:
                print(val)
                print("player_awards:", name_awards)
                print("df1         :", name_df1)
                print("Matching df1 player_id(s) for", name_awards, ":", df1_id)
                print()
                player_awards.loc[player_awards['player'] == name_awards, 'player_id'] = df1_id

4632
player_awards: Jaren Jackson Jr.
df1         : Jaron Blossomgame
Matching df1 player_id(s) for Jaren Jackson Jr. : 4631

4417
player_awards: Joel Embiid
df1         : Jonathan Gibson
Matching df1 player_id(s) for Joel Embiid : 4416

4424
player_awards: Malcolm Brogdon
df1         : Malcolm Delaney
Matching df1 player_id(s) for Malcolm Brogdon : 4423

4859
player_awards: LaMelo Ball
df1         : Lamar Stevens
Matching df1 player_id(s) for LaMelo Ball : 4858

4379
player_awards: Brandon Ingram
df1         : Brice Johnson
Matching df1 player_id(s) for Brandon Ingram : 4378

4437
player_awards: Pascal Siakam
df1         : Patricio Garino
Matching df1 player_id(s) for Pascal Siakam : 4436

4654
player_awards: Luka Dončić
df1         : Marcus Derrickson
Matching df1 player_id(s) for Luka Dončić : 4653

4154
player_awards: CJ McCollum
df1         : Chris Smith
Matching df1 player_id(s) for CJ McCollum : 4150

3969
player_awards: Paul George
df1         : Quincy Pondexter
Matching df1 player_id(s) for Paul George : 3968

3463
player_awards: LeBron James
df1         : Leandro Barbosa
Matching df1 player_id(s) for LeBron James : 3462

3360
player_awards: Tyson Chandler
df1         : Vladimir Radmanović
Matching df1 player_id(s) for Tyson Chandler : 3359

3363
player_awards: Zach Randolph
df1         : Óscar Torres
Matching df1 player_id(s) for Zach Randolph : 3362

3342
player_awards: Pau Gasol
df1         : Predrag Drobnjak
Matching df1 player_id(s) for Pau Gasol : 3341

2264
player_awards: Patrick Ewing
df1         : Patrick Ewing
Matching df1 player_id(s) for Patrick Ewing : 3966

In [47]:
## Using series:

# ids = player_awards['player_id'].unique()
# for val in ids:
#     name_awards = player_awards[player_awards['player_id'] == val]['player']
#     name_df1 = df1[df1['player_id'] == val]['player']

#     if not name_awards.empty:
#         player_name = name_awards.iloc[0]
#         df1_id_series = df1[df1['player'] == player_name]['player_id']

#         if not df1_id_series.empty:
#             df1_id_value = df1_id_series.iloc[0]
            
#             if val != df1_id_value:
#                 print(val)
#                 print("player_awards:", name_awards.values)
#                 print("df1         :", name_df1.values)
#                 print("Matching df1 player_id(s) for", name_awards.values, ":", df1_id_series.values)
#                 print()
#                 player_awards.loc[player_awards['player'] == player_name, 'player_id'] = df1_id_series.iloc[0]

In [49]:
compare1 = pd.merge(
    df1[['player_id', 'player']], 
    player_awards[['player_id', 'player']], 
    on='player_id', 
    suffixes=('_df1', '_awards')
)
compare1[compare1['player_df1'] != compare1['player_awards']].drop_duplicates()

     player_id    player_df1    player_awards
398       3462  LeBron James  Leandro Barbosa

In [51]:
player_awards.loc[player_awards['player'] == 'Leandro Barbosa', 'player_id'] = 3463.0

# All_NBA table data cleaning

## Checking to see if there are mismatches in player id between all_nba df and df1

In [54]:
compare2 = pd.merge(
    df1[['player_id', 'player']], 
    all_nba[['player_id', 'player']], 
    on='player_id', 
    suffixes=('_df1', '_all_nba')
)
compare2[compare2['player_df1'] != compare2['player_all_nba']].drop_duplicates()

       player_id           player_df1           player_all_nba
1681        5048           JD Davison         Jabari Smith Jr.
1696        5053          Jaden Hardy               Jaden Ivey
1704        4946       Jaden Springer              Jalen Green
1728        5055         Jake LaRavia              Jalen Duren
1733        5056          Jalen Duren           Jalen Williams
1736        4948          Jalen Green              Jalen Suggs
2188        4970     Josh Christopher              Josh Giddey
2539        4746       Keldon Johnson            Kendrick Nunn
2791        4648           Kevin Knox            Kevin Huerter
3017        4859        Lamar Stevens              LaMelo Ball
3090        4044      Markieff Morris           MarShon Brooks
3166        4658        Miles Bridges            Mikal Bridges
3172        4661             Mo Bamba        Mitchell Robinson
3623        4670         Shake Milton  Shai Gilgeous-Alexander
4832        4390          David Nwaba              Dario Šarić
4889        4394     Denzel Valentine          Dejounte Murray
5382        4656       Melvin Frazier        Marvin Bagley III
5674        4667       Rodions Kurucs          Robert Williams
5680        4460         Yogi Ferrell        Willy Hernangómez
5710        4400        Dragan Bender         Domantas Sabonis
5722        4413        Jarrod Uthoff             Jamal Murray
5976        4599       Dairis Bertāns            Collin Sexton
6445        4630        Jared Terrell            Jalen Brunson
6446        4632    Jaron Blossomgame        Jaren Jackson Jr.
6504        4654    Marcus Derrickson              Luka Dončić
6549        3969     Quincy Pondexter              Paul George
6664        4676         Trevon Duval               Trae Young
6719        4379        Brice Johnson           Brandon Ingram
6782        4415        Joel Bolomboy             Jaylen Brown
6786        4417      Jonathan Gibson              Joel Embiid
6846        4424      Malcolm Delaney          Malcolm Brogdon
6907        4428     Marshall Plumlee          Marquese Chriss
7066        3463      Leandro Barbosa             LeBron James
7669        4437      Patricio Garino            Pascal Siakam
11196       3360  Vladimir Radmanović           Tyson Chandler
12325       3978        Willie Warren           Wesley Johnson
13060       3350       Speedy Claxton            Shane Battier
13157       3361         Will Solomon      Vladimir Radmanović
14551       3342     Predrag Drobnjak                Pau Gasol
14671       3346         Rodney White        Richard Jefferson
14743       3356     Tremaine Fowlkes              Tony Parker
16622       2543           Shawn Kemp             Sean Elliott
16658       3363         Óscar Torres            Zach Randolph
17790       2544      Sherman Douglas               Shawn Kemp
18412       2552           Tim Legler             Tim Hardaway
19310       2545          Stacey King          Sherman Douglas
20470       2546       Stan Kimbrough              Stacey King
20740       2557      Winston Bennett              Vlade Divac

In [56]:
## Not using series assuming there is a match
ids = all_nba['player_id'].values
for val in ids:
    name_all_nba = all_nba[all_nba['player_id'] == val]['player'].iloc[0]
    name_df1 = df1[df1['player_id'] == val]['player'].iloc[0]

    if name_awards:
        df1_id = df1[df1['player'] == name_all_nba]['player_id'].iloc[0]

        if df1_id:
            
            if val != df1_id:
                print(val)
                print("player_awards:", name_all_nba)
                print("df1        :", name_df1)
                print("Matching df1 player_id(s) for", name_all_nba, ":", df1_id)
                print()
                all_nba.loc[all_nba['player'] == name_all_nba, 'player_id'] = df1_id

4948
player_awards: Jalen Suggs
df1        : Jalen Green
Matching df1 player_id(s) for Jalen Suggs : 4950

4670
player_awards: Shai Gilgeous-Alexander
df1        : Shake Milton
Matching df1 player_id(s) for Shai Gilgeous-Alexander : 4669

4654
player_awards: Luka Dončić
df1        : Marcus Derrickson
Matching df1 player_id(s) for Luka Dončić : 4653

4630
player_awards: Jalen Brunson
df1        : Jared Terrell
Matching df1 player_id(s) for Jalen Brunson : 4629

3463
player_awards: LeBron James
df1        : Leandro Barbosa
Matching df1 player_id(s) for LeBron James : 3462

4400
player_awards: Domantas Sabonis
df1        : Dragan Bender
Matching df1 player_id(s) for Domantas Sabonis : 4398

4632
player_awards: Jaren Jackson Jr.
df1        : Jaron Blossomgame
Matching df1 player_id(s) for Jaren Jackson Jr. : 4631

4417
player_awards: Joel Embiid
df1        : Jonathan Gibson
Matching df1 player_id(s) for Joel Embiid : 4416

4415
player_awards: Jaylen Brown
df1        : Joel Bolomboy
Matching df1 player_id(s) for Jaylen Brown : 4414

5056
player_awards: Jalen Williams
df1        : Jalen Duren
Matching df1 player_id(s) for Jalen Williams : 5057

5053
player_awards: Jaden Ivey
df1        : Jaden Hardy
Matching df1 player_id(s) for Jaden Ivey : 5054

5055
player_awards: Jalen Duren
df1        : Jake LaRavia
Matching df1 player_id(s) for Jalen Duren : 5056

5048
player_awards: Jabari Smith Jr.
df1        : JD Davison
Matching df1 player_id(s) for Jabari Smith Jr. : 5049

4658
player_awards: Mikal Bridges
df1        : Miles Bridges
Matching df1 player_id(s) for Mikal Bridges : 4657

4667
player_awards: Robert Williams
df1        : Rodions Kurucs
Matching df1 player_id(s) for Robert Williams : 4666

4676
player_awards: Trae Young
df1        : Trevon Duval
Matching df1 player_id(s) for Trae Young : 4675

4437
player_awards: Pascal Siakam
df1        : Patricio Garino
Matching df1 player_id(s) for Pascal Siakam : 4436

4946
player_awards: Jalen Green
df1        : Jaden Springer
Matching df1 player_id(s) for Jalen Green : 4948

4970
player_awards: Josh Giddey
df1        : Josh Christopher
Matching df1 player_id(s) for Josh Giddey : 4971

3969
player_awards: Paul George
df1        : Quincy Pondexter
Matching df1 player_id(s) for Paul George : 3968

4859
player_awards: LaMelo Ball
df1        : Lamar Stevens
Matching df1 player_id(s) for LaMelo Ball : 4858

4746
player_awards: Kendrick Nunn
df1        : Keldon Johnson
Matching df1 player_id(s) for Kendrick Nunn : 4747

4656
player_awards: Marvin Bagley III
df1        : Melvin Frazier
Matching df1 player_id(s) for Marvin Bagley III : 4655

4599
player_awards: Collin Sexton
df1        : Dairis Bertāns
Matching df1 player_id(s) for Collin Sexton : 4598

4661
player_awards: Mitchell Robinson
df1        : Mo Bamba
Matching df1 player_id(s) for Mitchell Robinson : 4660

4648
player_awards: Kevin Huerter
df1        : Kevin Knox
Matching df1 player_id(s) for Kevin Huerter : 4647

4394
player_awards: Dejounte Murray
df1        : Denzel Valentine
Matching df1 player_id(s) for Dejounte Murray : 4392

4390
player_awards: Dario Šarić
df1        : David Nwaba
Matching df1 player_id(s) for Dario Šarić : 4389

4424
player_awards: Malcolm Brogdon
df1        : Malcolm Delaney
Matching df1 player_id(s) for Malcolm Brogdon : 4423

4460
player_awards: Willy Hernangómez
df1        : Yogi Ferrell
Matching df1 player_id(s) for Willy Hernangómez : 4459

4413
player_awards: Jamal Murray
df1        : Jarrod Uthoff
Matching df1 player_id(s) for Jamal Murray : 4412

4428
player_awards: Marquese Chriss
df1        : Marshall Plumlee
Matching df1 player_id(s) for Marquese Chriss : 4427

4379
player_awards: Brandon Ingram
df1        : Brice Johnson
Matching df1 player_id(s) for Brandon Ingram : 4378

3342
player_awards: Pau Gasol
df1        : Predrag Drobnjak
Matching df1 player_id(s) for Pau Gasol : 3341

3356
player_awards: Tony Parker
df1        : Tremaine Fowlkes
Matching df1 player_id(s) for Tony Parker : 3355

3360
player_awards: Tyson Chandler
df1        : Vladimir Radmanović
Matching df1 player_id(s) for Tyson Chandler : 3359

4044
player_awards: MarShon Brooks
df1        : Markieff Morris
Matching df1 player_id(s) for MarShon Brooks : 4042

3363
player_awards: Zach Randolph
df1        : Óscar Torres
Matching df1 player_id(s) for Zach Randolph : 3362

3978
player_awards: Wesley Johnson
df1        : Willie Warren
Matching df1 player_id(s) for Wesley Johnson : 3977

3350
player_awards: Shane Battier
df1        : Speedy Claxton
Matching df1 player_id(s) for Shane Battier : 3349

3346
player_awards: Richard Jefferson
df1        : Rodney White
Matching df1 player_id(s) for Richard Jefferson : 3345

3361
player_awards: Vladimir Radmanović
df1        : Will Solomon
Matching df1 player_id(s) for Vladimir Radmanović : 3360

2552
player_awards: Tim Hardaway
df1        : Tim Legler
Matching df1 player_id(s) for Tim Hardaway : 2551

2264
player_awards: Patrick Ewing
df1        : Patrick Ewing
Matching df1 player_id(s) for Patrick Ewing : 3966

2544
player_awards: Shawn Kemp
df1        : Sherman Douglas
Matching df1 player_id(s) for Shawn Kemp : 2543

2578
player_awards: Dee Brown
df1        : Dee Brown
Matching df1 player_id(s) for Dee Brown : 3667

2557
player_awards: Vlade Divac
df1        : Winston Bennett
Matching df1 player_id(s) for Vlade Divac : 2556

2545
player_awards: Sherman Douglas
df1        : Stacey King
Matching df1 player_id(s) for Sherman Douglas : 2544

2546
player_awards: Stacey King
df1        : Stan Kimbrough
Matching df1 player_id(s) for Stacey King : 2545

2412
player_awards: Charles Smith
df1        : Charles Smith
Matching df1 player_id(s) for Charles Smith : 3047

1559
player_awards: Bobby Jones
df1        : Bobby Jones
Matching df1 player_id(s) for Bobby Jones : 3657

1747
player_awards: Eddie Johnson
df1        : Eddie Johnson
Matching df1 player_id(s) for Eddie Johnson : 1993

1216
player_awards: Mike Davis
df1        : Mike Davis
Matching df1 player_id(s) for Mike Davis : 2083

831
player_awards: Luke Jackson
df1        : Luke Jackson
Matching df1 player_id(s) for Luke Jackson : 3542

In [57]:
## Using Series
# ids = all_nba['player_id'].values
# for val in ids:
#     name_all_nba = all_nba[all_nba['player_id'] == val]['player']
#     name_df1 = df1[df1['player_id'] == val]['player']

#     if not name_awards.empty:
#         player_name = name_all_nba.iloc[0]
#         df1_id_series = df1[df1['player'] == player_name]['player_id']

#         if not df1_id_series.empty:
#             df1_id_value = df1_id_series.iloc[0]
            
#             if val != df1_id_value:
#                 print(val)
#                 print("player_awards:", name_all_nba.values)
#                 print("df4         :", name_df1.values)
#                 print("Matching df4 player_id(s) for", name_all_nba.values, ":", df1_id_series.values)
#                 print()
#                 all_nba.loc[all_nba['player'] == player_name, 'player_id'] = df1_id_series.iloc[0]

In [58]:
compare2 = pd.merge(
    df1[['player_id', 'player']], 
    all_nba[['player_id', 'player']], 
    on='player_id', 
    suffixes=('_df1', '_all_nba')
)
compare2[compare2['player_df1'] != compare2['player_all_nba']].drop_duplicates()

       player_id  player_df1 player_all_nba
17396       2543  Shawn Kemp   Sean Elliott

In [62]:
all_nba.loc[all_nba['player'] == 'Sean Elliott', 'player_id'] = 2542.0

# df2 data cleaning
## Checking to see if there are mismatches in player id between df2 and df1

In [64]:
compare3 = pd.merge(
    df1[['player_id', 'player']], 
    df2[['player_id', 'player']], 
    on='player_id', 
    suffixes=('_df1', '_df2')
)
compare3[compare3['player_df1'] != compare3['player_df2']].drop_duplicates()

Empty DataFrame
Columns: [player_id, player_df1, player_df2]
Index: []

# Export cleaned data for Power BI

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df2['hof'] = encoder.fit_transform(df2[['hof']])

C:\Users\omair\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [299]:
df2['hof'].value_counts()

hof
0    5150
1     163
Name: count, dtype: int64

In [300]:
df1.head()

,seas_id,season,player_id,player,pos,age,experience,lg,tm,g,...,DRPG,BPG,SPG,TOVPG,ftapg,ftmpg,fgmpg,fgapg,x3pg,x3apg
0,31871,2025,5025,A.J. Green,SG,25,3,NBA,MIL,73,...,2.1,0.1,0.5,0.5,0.4,0.3,2.5,5.8,2.1,5.0
1,31872,2025,5026,A.J. Lawson,SG,24,3,NBA,TOR,26,...,2.5,0.2,0.5,0.6,2.4,1.7,3.1,7.3,1.3,3.9
2,31873,2025,5210,AJ Johnson,SG,20,1,NBA,TOT,29,...,1.8,0.1,0.4,1.2,1.3,1.1,2.8,7.3,0.8,3.1
3,31874,2025,5210,AJ Johnson,SG,20,1,NBA,MIL,7,...,1.0,0.0,0.1,0.6,0.3,0.1,1.1,2.7,0.4,0.7
4,31875,2025,5210,AJ Johnson,SG,20,1,NBA,WAS,22,...,2.0,0.1,0.5,1.4,1.6,1.4,3.4,8.8,1.0,3.9

In [301]:
df1.to_csv("C:/Users/omair/Downloads/nbaPowerBi/player_stats.csv")

In [302]:
df2 = df2.drop(columns = "birth_year")
df2

      player_id              player  hof  num_seasons  first_seas  last_seas
0             1        Al Brightman    0            1        1947       1947
1             2           Al Lujack    0            1        1947       1947
2             3         Al Negratti    0            1        1947       1947
3             4         Angelo Musi    0            3        1947       1949
4             5       Ariel Maughan    0            5        1947       1951
...         ...                 ...  ...          ...         ...        ...
5308       5309        Yuri Collins    0            1        2025       2025
5309       5310          Yves Missi    0            1        2025       2025
5310       5311  Zaccharie Risacher    0            1        2025       2025
5311       5312           Zach Edey    0            1        2025       2025
5312       5313         Zyon Pullin    0            1        2025       2025

[5313 rows x 6 columns]

In [303]:
df2.to_csv("C:/Users/omair/Downloads/nbaPowerBi/players_info.csv")

In [304]:
all_nba.columns

Index(['season', 'lg', 'type', 'number_tm', 'position', 'player', 'age', 'tm',
       'pts_won', 'pts_max', 'share', 'x1st_tm', 'x2nd_tm', 'x3rd_tm',
       'seas_id', 'player_id'],
      dtype='object')

In [305]:
all_nba = all_nba.drop(columns = {'pts_won', 'pts_max', 'share', 'x1st_tm', 'x2nd_tm', 'x3rd_tm'})
all_nba.head()

,season,lg,type,number_tm,position,player,age,tm,seas_id,player_id
0,2024,NBA,All-Defense,1st,C,Rudy Gobert,31,MIN,31747,4199
1,2024,NBA,All-Defense,1st,C,Victor Wembanyama,20,SAS,31850,5209
2,2024,NBA,All-Defense,1st,C,Bam Adebayo,26,MIA,31178,4472
3,2024,NBA,All-Defense,1st,F,Herbert Jones,25,NOP,31385,4939
4,2024,NBA,All-Defense,1st,C,Anthony Davis,30,LAL,31170,4066

In [306]:
all_nba.to_csv("C:/Users/omair/Downloads/nbaPowerBi/all_nba.csv")

In [307]:
player_awards.head()

,season,award,player,age,tm,first,pts_won,pts_max,share,winner,seas_id,player_id
15,2024,dpoy,Rudy Gobert,31,MIN,72.0,433.0,495.0,0.875,True,31747,4199
28,2024,mip,Tyrese Maxey,23,PHI,51.0,319.0,495.0,0.644,True,31843,4893
42,2024,nba mvp,Nikola Jokić,28,DEN,79.0,926.0,990.0,0.935,True,31672,4352
51,2024,nba roy,Victor Wembanyama,20,SAS,99.0,495.0,495.0,1.000,True,31850,5209
57,2024,smoy,Naz Reid,24,MIN,45.0,352.0,495.0,0.711,True,31663,4771

In [308]:
player_awards.to_csv("C:/Users/omair/Downloads/nbaPowerBi/player_awards.csv")

In [309]:
all_star.sample(5)

            player         team   lg  season  replaced
166    Paul George  Team LeBron  NBA    2018     False
844   Isiah Thomas         East  NBA    1991      True
708     Grant Hill         East  NBA    1996     False
952   Sleepy Floyd         West  NBA    1987     False
1473  Bob Kauffman         East  NBA    1971     False

In [310]:
all_star.to_csv("C:/Users/omair/Downloads/nbaPowerBi/all_star.csv")

In [ ]:
df3 = df1.groupby('player_id').agg({'pts':'sum',
                          'ast' : 'sum',
                          'trb' : 'sum',
                          'stl': 'sum',
                          'blk' : 'sum',
                          'orb' : 'sum',
                          'drb' : 'sum',
                          'fg' : 'sum',
                          'fga' : 'sum',
                          'ft' : 'sum',
                          'fta' : 'sum',        
                        'g' : 'sum'}).reset_index()

df3.head()

   player_id   pts  ast    trb  stl  blk  orb  drb   fg   fga   ft  fta    g
0        1.0   567   60    0.0  0.0  0.0  0.0  0.0  223   870  121  193   58
1        2.0     4    0    0.0  0.0  0.0  0.0  0.0    1     8    2    5    5
2        3.0    31    5    0.0  0.0  0.0  0.0  0.0   13    69    5    8   11
3        4.0  1359  117    0.0  0.0  0.0  0.0  0.0  558  1921  243  315  161
4        5.0  2227  317  141.0  0.0  0.0  0.0  0.0  820  2915  587  833  301